.theme{
background-color: paleturquoise;
font-family: 'Rokkitt', serif;
text-align: center;
color: black;
}

.house{
margin-top:50px;
height: 380px;
width: 320px
}

.websiteWelcomes{
background-color:paleturquoise !important;
border-style: dotted;
}
 
.text{

color: mintcream

}

.heart{

width: 75px;
height: 75px;
}